<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stats | View</title>
</head>

<body>
    <h2>Stats</h2>
    <h4>Getting data from elasticsearch</h4>
    <ol>
        {% for log in logs %}
        <li>--> {{log.timestamp}} <br> --> {{log.process_id}} <br> --> {{log.log_name}} <br> --> <q><em>{{log.message}}</em></q>
            <br> --> Image: <q>{{log.event_data.Image}}</q>
        </li>
        {% endfor %}
    </ol>
</body>

</html>